.btn {
    border: none;
    background-color: transparent;
    color: blue;
    font-size: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

.options {
    margin-bottom: 12px;
}

.options li a {
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(27, 106, 252);
}

.container {
    width: 100%;
    height: 700px;
    background-color: rgb(158, 247, 247);
}